#stats-container
  %div
    %ul#stats
      = render_stat(@total_hours_watched) do
        Hours of eggy madness watched
      = render_stat(@total_users) do
        Total # of viewers
      = render_stat(@total_visits) do
        Visits to #eggbeard

    %p.since
      Since
      = @first_visit.start.strftime("%d/%m/%Y at %H:%M")
