#video-container
  %div
    #video-wrapper
      %iframe{ src: 'http://player.twitch.tv/?channel=eggbeard&muted=true', frameborder: '0', scrolling: 'no' }

#stats-container
  %div
    %ul#stats
      = render_stat 0 do
        Hours of eggy madness watched

      = render_stat 0 do
        Total # of viewers

      = render_stat 0 do
        Visits to #eggbeard'

    %p.since
      Since [FIRST VISIT]
