#stats-container
  %div
    %ul#stats
      = render_stat 0 do
        Hours of eggy madness watched

      = render_stat 0 do
        Total # of viewers

      = render_stat 0 do
        Visits to #eggbeard'

    %p.since
      Since [FIRST VISIT]
