#header
  %div
    %img#the-egg{src: 'images/eggbeard-medium.png', title: 'The Egg', alt: 'The Egg'}

    %h1
      Eggbeard.tv

  %p#intro-text
    "Rest in pepperoni pizza"

#main
  %div
    %ul#navigation
      %li#twitch
        %a{title: 'Eggbeard on Twitch', href: 'http://www.twitch.tv/eggbeard'}
          %i.fa.fa-twitch
      %li#twitter
        %a{title: 'Eggbeard on Twitter', href: 'https://twitter.com/eggmcbeard'}
          %i.fa.fa-twitter
      %li#youtube
        %a{title: 'Eggbeard on YouTube', href: 'https://www.youtube.com/user/xeggbeardx'}
          %i.fa.fa-youtube
